@model Cliente
@{
    ViewData["Title"] = "Adicionar Cliente";
}

<div class="text-center">
    <h1 class="display-4">Adicionar Cliente</h1>
    <br />
</div>

<form asp-controller="Cliente" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="Nome">Nome Completo</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Nome Completo">
    </div>
    <br />

    <div class="form-group">
        <label for="NrDocumento">Número do documento</label>
        <input type="text" asp-for="NrDocumento" class="form-control" placeholder="Número do documento">
    </div>
    <br />

    <div class="form-group">
        <label for="DataNascimento">Data de Nascimento</label>
        <input type="date" asp-for="DataNascimento" class="form-control" placeholder="Data de Nascimento">
    </div>
    <br />
    <div class="form-group">
        <label for="Endereco">Endereço</label>
        <input type="text" asp-for="Endereco" class="form-control" placeholder="Endereço">
    </div>
    <br />

    <div class="form-group">
        <label for="Numero">Número</label>
        <input type="number" asp-for="Numero" class="form-control" placeholder="Número da residência">
    </div>
    <br />

    <div class="form-group">
        <label for="estado">Estado:</label>
        <select id="estado" name="EstadoId" asp-for="EstadoId" class="form-control">
            <option value="">Selecione um estado</option>
        </select>
    </div>
    <br />

    <div class="form-group">
    <label for="cidade">Cidade:</label>
        <select id="cidade" name="CidadeId" asp-for="CidadeId" class="form-control">
            <option value="">Selecione uma cidade</option>
        </select>
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-controller="Cliente" asp-action="Index" role="button">Voltar</a>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/estados.js" asp-append-version="true"></script>
