@model Cliente
@{
    ViewData["Title"] = "Editar cliente";
}

<div class="text-center">
    <h1 class=" display-4">Editar cliente</h1>
    <br />
</div>
<form>
    <div class="form-group">
        <label for="Nome">Nome Completo</label>
        <input type="text" asp-for="Nome" class="form-control" id="Nome" placeholder="Nome Completo">
    </div>
    <br />
    <div class="form-group">
        <label for="NrDocumento">Número do documento</label>
        <input type="text" asp-for="NrDocumento" class="form-control" id="NrDocumento" placeholder="Número do documento">
    </div>
    <br />
    <div class="form-group">
        <label for="Endereco">Endereço</label>
        <input type="text" asp-for="Endereco" class="form-control" id="exampleInputEmail1" placeholder="Endereço">
    </div>
    <br />
    <div class="form-group">
        <label for="Numero">Número</label>
        <input type="number" asp-for="Numero" class="form-control" id="exampleInputEmail1" placeholder="Número da residência">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secundary" asp-controller="Cliente" asp-action="Index" role="button">Voltar</a>
</form>

